:root {
  --colorGreen: #b9ff66;
  --colorDark: #191a23;
  --colorBlack: #000000;
  --colorGray: #f3f3f3;

  --fontSpaceGroteskBold: "SpaceGrotesk-Bold";
  --fontSpaceGroteskLight: "SpaceGrotesk-Light";
  --fontSpaceGroteskMedium: "SpaceGrotesk-Medium";
  --fontSpaceGroteskRegular: "SpaceGrotesk-Regular";
  --fontSpaceGroteskSemiBold: "SpaceGrotesk-SemiBold";
}
