@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Alegreya:ital,wght@0,400..900;1,400..900&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --colorGreen: #b9ff66;
  --colorDark: #191a23;
  --colorBlack: #000000;
  --colorGray: #f3f3f3;
  --fontSpaceGroteskBold: "SpaceGrotesk-Bold";
  --fontSpaceGroteskLight: "SpaceGrotesk-Light";
  --fontSpaceGroteskMedium: "SpaceGrotesk-Medium";
  --fontSpaceGroteskRegular: "SpaceGrotesk-Regular";
  --fontSpaceGroteskSemiBold: "SpaceGrotesk-SemiBold";
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Space Grotesk";
}

button,
textarea,
input {
  background-color: inherit;
  border: none;
  color: inherit;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0px 100px;
}

.PcNav article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0px;
}
.PcNav article .PositivusLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.PcNav article .PositivusLogo img {
  width: 20px;
}
.PcNav article .PositivusLogo h2 {
  font-weight: 400;
}
.PcNav article .ListNav {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.PcNav article .ListNav button {
  padding: 20px 35px;
  border: 2px solid #191a23;
  border-radius: 15px;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.PcNav article .ListNav button:hover {
  cursor: pointer;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  background-color: #191a23;
  color: #fafafa;
}

.SectionBurger {
  display: none;
}

@media (max-width: 1300px) {
  .RightSideList {
    display: none;
  }
  .SectionBurger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .SectionBurger .burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
  }
  .SectionBurger .burger input {
    display: none;
  }
  .SectionBurger .burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  .SectionBurger .burger span:nth-of-type(1) {
    top: 0px;
    -webkit-transform-origin: left center;
            transform-origin: left center;
  }
  .SectionBurger .burger span:nth-of-type(2) {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transform-origin: left center;
            transform-origin: left center;
  }
  .SectionBurger .burger span:nth-of-type(3) {
    top: 100%;
    -webkit-transform-origin: left center;
            transform-origin: left center;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .SectionBurger .burger input:checked ~ span:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0px;
    left: 5px;
  }
  .SectionBurger .burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
  }
  .SectionBurger .burger input:checked ~ span:nth-of-type(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 28px;
    left: 5px;
  }
}
header .PcHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  margin-bottom: 70px;
}
header .PcHeader .DigitalMarketing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .PcHeader .DigitalMarketing h1 {
  font-size: 60px;
  font-weight: 500;
}
header .PcHeader .DigitalMarketing span {
  font-size: 20px;
}
header .PcHeader .DigitalMarketing button {
  padding: 20px 35px;
  border-radius: 15px;
  background-color: #191a23;
  color: #fafafa;
  font-size: 20px;
  font-weight: 300;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
header .PcHeader .DigitalMarketing button:hover {
  cursor: pointer;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
header .PcHeader .IllustrationPic img {
  width: 550px;
}

.MobileHeader {
  display: none;
}

@media (max-width: 1300px) {
  header article:first-child {
    display: none;
  }
  .MobileHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 70px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .MobileHeader section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .MobileHeader section img {
    max-width: 550px;
    margin: 30px 0px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .MobileHeader section h1 {
    font-size: 60px;
    font-weight: 500;
  }
  .MobileHeader section span {
    font-size: 20px;
  }
  .MobileHeader section button {
    margin-top: 30px;
    padding: 20px 35px;
    border-radius: 15px;
    background-color: #191a23;
    color: #fafafa;
    font-size: 20px;
    font-weight: 300;
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
  }
  .MobileHeader section button:hover {
    cursor: pointer;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
@media (max-width: 750px) {
  .MobileHeader img {
    width: 300px;
  }
}
.RunningImages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-bottom: 100px;
}
.RunningImages div {
  -webkit-animation: running-images 7s linear infinite;
          animation: running-images 7s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 95px;
}
.RunningImages div img {
  display: inline-block;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

@-webkit-keyframes running-images {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes running-images {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
.ServicesList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  margin-bottom: 85px;
}
.ServicesList button {
  font-size: 40px;
  font-weight: 500;
  background-color: #b9ff66;
  border-radius: 7px;
  padding: 5px 7px;
  cursor: pointer;
}
.ServicesList span {
  max-width: 580px;
  font-size: 18px;
  font-weight: 300;
}

.CardsList {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.CardsList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
  padding: 50px;
  border-radius: 45px;
  border: 1px solid #191a23;
  -webkit-box-shadow: 0px 5px 0px 0px #191a23;
          box-shadow: 0px 5px 0px 0px #191a23;
}
.CardsList li .LearnMore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  margin-top: 80px;
  cursor: pointer;
}
.CardsList li h3 {
  display: inline;
  padding: 3px;
  font-size: 25px;
  font-weight: 400;
}

.CardsList li:first-child,
.CardsList li:nth-child(4) {
  background-color: #fafafa;
}
.CardsList li:first-child h3,
.CardsList li:nth-child(4) h3 {
  background-color: #b9ff66;
}
.CardsList li:nth-child(2),
.CardsList li:nth-child(5) {
  background-color: #b9ff66;
}
.CardsList li:nth-child(2) h3,
.CardsList li:nth-child(5) h3 {
  background-color: #fafafa;
}
.CardsList li:nth-child(3),
.CardsList li:nth-child(6) {
  background-color: #191a23;
}
.CardsList li:nth-child(3) h3,
.CardsList li:nth-child(6) h3 {
  background-color: #fafafa;
}
.CardsList li:nth-child(3) span,
.CardsList li:nth-child(6) span {
  color: #fafafa;
}

.CaseStudies {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f3f3f3;
  border-radius: 45px;
  padding: 60px;
  gap: 150px;
  margin-bottom: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.CaseStudies div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.CaseStudies div h3 {
  font-size: 30px;
  font-weight: 400;
}
.CaseStudies div p {
  font-size: 20px;
  font-weight: 400;
  margin: 30px 0px;
}
.CaseStudies div button {
  background-color: #191a23;
  color: #fafafa;
  padding: 20px 35px;
  border-radius: 14px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -ms-flex-item-align: self-start;
      align-self: self-start;
}
.CaseStudies div button:hover {
  background-color: #f3f3f3;
  border: 1px solid #191a23;
  color: #191a23;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  cursor: pointer;
}

.CaseStudiesBlocks {
  background-color: #191a23;
  border-radius: 45px;
  padding: 70px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 65px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}
.CaseStudiesBlocks hr {
  width: 1px;
  height: 170px;
}
.CaseStudiesBlocks section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.CaseStudiesBlocks section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.CaseStudiesBlocks section div span {
  color: #b9ff66;
}
.CaseStudiesBlocks section span {
  color: #fafafa;
}

.ArticleWhatWeDo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  counter-reset: WhatWeDo;
  margin-bottom: 70px;
}

.WhatWeDo {
  background-color: #f3f3f3;
  border-radius: 45px;
  padding: 40px 60px;
  border: 1px solid #191a23;
  -webkit-box-shadow: 0px 5px 0px 0px #191a23;
          box-shadow: 0px 5px 0px 0px #191a23;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.WhatWeDo:hover {
  cursor: pointer;
}
.WhatWeDo h3 {
  font-size: 30px;
  font-weight: 400;
  counter-increment: WhatWeDo;
  white-space: wrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.WhatWeDo h3::before {
  content: "0" counter(WhatWeDo);
  margin-right: 10px;
  font-weight: 500;
}
.WhatWeDo span {
  margin-left: auto;
  font-size: 45px;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.WhatWeDo img {
  margin-left: auto;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.WhatWeDo img:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  cursor: pointer;
}

.WhatWeDoDesc {
  background-color: #b9ff66;
  border-radius: 0px 0px 45px 45px;
  padding: 40px 60px;
  border: 1px solid #191a23;
  -webkit-box-shadow: 0px 5px 0px 0px #191a23;
          box-shadow: 0px 5px 0px 0px #191a23;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -30px;
  display: none;
}

.ArticleTeam {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 70px;
}
.ArticleTeam section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 45px;
  padding: 25px 30px;
  border: 1px solid #191a23;
  -webkit-box-shadow: 0px 5px 0px 0px #191a23;
          box-shadow: 0px 5px 0px 0px #191a23;
}
.ArticleTeam section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.ArticleTeam section div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: 20px;
}
.ArticleTeam section div div h4 {
  font-weight: 500;
}
.ArticleTeam section hr {
  margin: 30px 0px;
  background-color: #000;
  border: none;
  height: 1px;
}

.LinkedIn {
  width: 34px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.ArticleComments {
  background-color: #191a23;
  border-radius: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  gap: 50px;
  padding: 50px 50px 150px 50px;
  margin-bottom: 70px;
}
.ArticleComments section {
  border: 1px solid #b9ff66;
  padding: 50px;
  border-radius: 45px;
  -ms-flex-item-align: center;
      align-self: center;
  width: 600px;
  position: relative;
}
.ArticleComments section span {
  color: white;
}
.ArticleComments section::before {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 50px;
  width: 30px;
  height: 30px;
  background-color: #1a1a1a;
  border-left: 1px solid #b9ff66;
  border-bottom: 1px solid #b9ff66;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.ArticleComments section .CommentPerson {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: -70px;
  left: 60px;
}
.ArticleComments section .CommentPerson h3 {
  color: #b9ff66;
  font-size: 15px;
}
.ArticleComments section .CommentPerson span {
  font-size: 12px;
}

.ArticleForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 220px;
  padding: 60px 0px 80px 100px;
  background-color: #f3f3f3;
  overflow: hidden;
  border-radius: 45px;
  margin-bottom: 70px;
  position: relative;
}
.ArticleForm section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 200;
}
.ArticleForm section form label {
  font-size: 18px;
}
.ArticleForm section form .input_field,
.ArticleForm section form .textarea {
  margin: 10px 0px 30px 0px;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 14px;
  padding: 18px 30px;
  background-color: #fafafa;
  width: 500px;
}
.ArticleForm section form .textarea {
  resize: none;
  height: 190px;
}
.ArticleForm section button {
  background-color: #191a23;
  color: #fafafa;
  padding: 20px;
  border-radius: 14px;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 200;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.ArticleForm section button:hover {
  cursor: pointer;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  border: 1px solid #191a23;
  background-color: #f3f3f3;
  color: #191a23;
}
.ArticleForm img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin-right: -330px;
}

@media (max-width: 1300px) {
  .CardsList {
    grid-template-columns: 1fr;
  }
  .CardsList li {
    max-width: 800px;
  }
  .ServicesCards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ArticleTeam {
    grid-template-columns: repeat(2, 1fr);
  }
  .ArticleForm img {
    display: none;
  }
}
@media (max-width: 1130px) {
  .CaseStudies img {
    display: none;
  }
  .CaseStudiesBlocks section:first-child {
    display: none;
  }
  .CaseStudiesBlocks .hr {
    display: none;
  }
  .ArticleComments section:first-child {
    display: none;
  }
}
@media (max-width: 950px) {
  .CaseStudiesBlocks section:last-child {
    display: none;
  }
  .CaseStudiesBlocks hr {
    display: none;
  }
  .ContactUsForm form .input_field,
  .ContactUsForm form .textarea {
    width: 400px !important;
  }
}
@media (max-width: 800px) {
  .ArticleTeam {
    grid-template-columns: 1fr;
  }
  .ArticleComments {
    font-size: 1rem;
  }
  .ServicesList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ServicesList span {
    text-align: center;
  }
  .WhatWeDo h3 {
    font-size: 25px;
  }
  .ContactUsForm form .input_field,
  .ContactUsForm form .textarea {
    width: 300px !important;
  }
}
@media (max-width: 630px) {
  .WhatWeDo h3 {
    font-size: 20px;
  }
  .WhatWeDo img {
    width: 35px;
  }
  body {
    margin: 0px 30px;
  }
}
@media (max-width: 545px) {
  .CardsList li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
  .CardsList li .CardSearch .LearnMore {
    margin-top: 20px;
  }
  .CardsList li .CardSearch span {
    display: none;
  }
  .ContactUsForm form .input_field,
  .ContactUsForm form .textarea {
    width: 200px !important;
  }
}
@media (max-width: 400px) {
  .ArticleComments section {
    padding: 15px;
  }
  .ArticleComments section span {
    font-size: 10px;
  }
  .ArticleComments section .CommentPerson {
    bottom: -85px;
  }
  .WhatWeDo h3 {
    font-size: 15px;
  }
  .ContactUsForm {
    padding: 0;
    margin-left: -50px;
  }
  .ContactUsForm form .input_field,
  .ContactUsForm form .textarea {
    width: 150px !important;
  }
}
@media (max-width: 330px) {
  .CommentPerson {
    bottom: -90px !important;
  }
}
footer {
  background-color: #191a23;
  border-radius: 45px 45px 0px 0px;
  padding: 60px;
}
footer .FooterNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .FooterNav .FooterPosLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
footer .FooterNav .FooterPosLogo img {
  width: 25px;
}
footer .FooterNav .FooterPosLogo h2 {
  color: white;
  font-size: 25px;
  font-weight: 200;
}
footer .FooterNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  font-size: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-decoration: underline;
}
footer .FooterNav .SocialIconsDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
footer .MainInfoFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .MainInfoFooter .ContactInfo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
footer .MainInfoFooter .ContactInfo h2 {
  background-color: #b9ff66;
  display: inline-block;
  padding: 3px;
  font-weight: 400;
  border-radius: 7px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
footer .MainInfoFooter .ContactInfo span {
  color: white;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
footer .SubscribeForm {
  background-color: #292a32;
  border-radius: 14px;
  padding: 60px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 65px;
  gap: 20px;
}
footer .SubscribeForm input {
  border-radius: 14px;
  border: 1px solid white;
  padding: 20px 35px;
  color: white;
  font-size: 18px;
}
footer .SubscribeForm button {
  color: #000;
  background-color: #b9ff66;
  padding: 20px 35px;
  border-radius: 14px;
  font-size: 20px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
footer .SubscribeForm button:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  border: 1px solid #b9ff66;
  background-color: inherit;
  color: white;
  cursor: pointer;
}
footer hr {
  margin: 50px 0px;
}
footer .PrivacySec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  color: white;
}
footer .PrivacySec span:last-child {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .SocialIconsDiv {
    display: none !important;
  }
  .FooterPosLogo {
    -ms-flex-item-align: center;
        align-self: center;
    margin-bottom: 10px;
  }
  .ListFooter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-decoration: none !important;
    gap: 10px !important;
  }
  .FooterNav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .MainInfoFooter {
    gap: 0px !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ContactInfo h2 {
    -ms-flex-item-align: center !important;
        align-self: center !important;
  }
  .ContactInfo span {
    -ms-flex-item-align: center !important;
        align-self: center !important;
    text-align: center;
  }
  .SubscribeForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .PrivacySec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 470px) {
  .SubscribeForm input,
  .SubscribeForm button {
    width: 150px !important;
  }
}